@page
@model Rental.Pages.Properties.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Property</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Property.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Property.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Property.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Property.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Property.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Property.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Property.Pin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Property.Pin)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Property.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Property.Country.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Property.Party)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Property.Party.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Property.propertyType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Property.propertyType.TypeName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Property.Lattitude)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Property.Lattitude)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Property.Longitude)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Property.Longitude)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Property.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
