@page
@model Rental.Pages.Properties.IndexModel

@{
    ViewData["Title"] = "Index";
}

@section Styles {
    <!-- DataTables -->
    <link rel="stylesheet" href="~/lib/dataTables/dataTables.bootstrap4.min.css">
}

@section Scripts {
    <!-- DataTables -->
    <script src="~/lib/dataTables/jquery.dataTables.min.js"></script>
    <script src="~/lib/dataTables/dataTables.bootstrap4.min.js"></script>

    <!-- page script -->
    <script>
        $(function () {
            $('#MainGrid').DataTable({
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': true
            })
        })
    </script>
}

<h1>Properties</h1>

<p>
    <a asp-page="Create" class="btn btn-primary" data-toggle="tooltip" data-placement="top" accesskey="n" title="[ALT]+N">Create New</a>
</p>
<table class="table table-striped table-bordered" id="MainGrid">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Property[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Property[0].Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Property[0].City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Property[0].Pin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Property[0].Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Property[0].Party)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Property[0].propertyType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Property[0].Lattitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Property[0].Longitude)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Property)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Party.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.propertyType.TypeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lattitude)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Longitude)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Modify</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>